/* Brochure typefaces, served from public/fonts (WOFF2, converted from the
   supplied files). As used in the brochure:
     Billie Eilish (display)            headlines
     Gotham Book / Medium               text; labels and figures
     Avenir LT Std Black                the ARKADE ASCEND lockup
     Swiss 721 Condensed / Bold Cond.   map labels (page 5)
     Myriad Pro                         the north arrow (page 6)
   These are commercial fonts: serving them on the web requires web-embedding
   rights under their licences. Weight ranges map every requested weight onto
   the nearest real cut, so the browser never synthesises bold. */

@font-face {
  font-family: "Billie Eilish";
  src: url("/fonts/billie-eilish.woff2") format("woff2");
  font-weight: 100 900; font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham-book.woff2") format("woff2");
  font-weight: 100 449; font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham-medium.woff2") format("woff2");
  font-weight: 450 900; font-display: swap;
}
@font-face {
  font-family: "Avenir LT Std";
  src: url("/fonts/avenir-lt-std-black.woff2") format("woff2");
  font-weight: 100 900; font-display: swap;
}
@font-face {
  font-family: "Swiss 721 Condensed";
  src: url("/fonts/swiss721-condensed.woff2") format("woff2");
  font-weight: 100 549; font-display: swap;
}
@font-face {
  font-family: "Swiss 721 Condensed";
  src: url("/fonts/swiss721-bold-condensed.woff2") format("woff2");
  font-weight: 550 900; font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/myriad-pro.woff2") format("woff2");
  font-weight: 100 900; font-display: swap;
}
